{% extends "smallbiz_security/base.html" %}

{% block title %}
Smallbiz Security
{% endblock %}


{% block content %}
<h1>Smallbiz Security</h1>
<h4>Cyber Security for Small Business</h4>

<br></br>

<h4>Who We Are</h4>
<p>We are a nonprofit organization that helps small businesses prepare and protect
    themselves from cyber security attacks.</p>


<h4>What We Do</h4>
<p>We provide information and links to other resources about cyber security, common types
    of attacks, and planning and prevention. We collect data about organizations' systems,
    vulnerabilities, and cyber attacks to perform data anayltics to better help serve the
    small business community. We have a free version and a premium version to help cover
    the costs of running the non-profit. The paid version includes security audits and
    training.</p>


<h4>Our Partnership</h4>
<p>We partner with universities throughout the nation to assist small businesses and
    nonprofits with free security audits from university students, which began at West Texas
    A&M University in Texas. We use a lottery system to match students with local small
    businesses interested in free security audits. The data collected during these audits is
    reviewed. Any confidential or sensitive information is removed or redacted and then made
    available on our website for data analysis, data science, and machine learning projects.</p>

{% endblock %}